/* buscar as variaveis dos botoes */

.button {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 12px;
  text-decoration: none; /*remove o default da decoracao do texto*/
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.button-primary {
  color: $color-primary; /*cor do texto do botao*/
  border: 2px solid $color-primary;
  &:hover {
    color: $color-secondary;
    background-color: $color-primary;
  }
}

.button-secondary {
  color: $color-secondary; /*cor do texto do botao*/
  border: 2px solid $color-secondary;
  &:hover {
    color: $color-primary;
    background-color: $color-secondary;
  }
}

.button-tertiary {
  background-color: $color-primary;
  color: $color-secondary; /*cor do texto do botao*/
  border: 2px solid $color-primary;
  padding: 10px 15px;
  &:hover {
    color: $color-primary;
    background-color: $color-secondary;
  }
}
