/* buscar as variaveis - atençao à ordem dos imports */
@import "variables";
@import "buttons";
@import "breakpoints";

/* styles reset - usar border-box width=content+padding+border */
* {
	box-sizing: border-box;
}

/* estilo do body - generalizado */
body {
	font-family: "Poppins", sans-serif;
	margin: 0; /* tinha uma margin*/
}

footer {
	background-color: $color-text-primary;
	width: auto;
	height: 246px;
}

/* retirar estilos da lista que vem por default assim como o padding e a margin */
ul {
	list-style-type: none;
	padding: 0;
	margin: 61px 0px 0px 0px;
}

/* titulo h2 é todo igual ao longo do documento*/
h2 {
	font-size: 32px;
	font-weight: 500;
	line-height: 1.4;
	text-align: center;
}

h3 {
	font-size: 24px;
	font-weight: 500;
	line-height: 28px;
}
/* end of styles reset*/

/* header section */
.header {
	display: flex;
	height: 100vh; /*100% da viewport height*/
	align-items: center; /*temos de alinhar devido ao height*/
	justify-content: center; /* centra os items */
	background-image: url("../../assets/image/anas-alshanti-feXpdV001o4-unsplash.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	
	div {
		position: relative;
		// transition: 2s ease;
		transition: transform 5s;
		// transform-origin: -100vh;
	
	}
}

.header-content {
	text-align: center; /*alinha o texto dentro da div*/
	background-color: rgb(238, 221, 255);
	width: auto;
	padding: 40px 50px;
	position: relative;
	bottom: -70vh;
	border-radius: 8px;
	@media (max-width: 991px) {
		width: 250px;
	}
}

.mystyle {
	transform: translateY(-70vh);
}

.header-title {
	font-size: 20px;
	font-weight: 200;
	line-height: 1.4;
	color: $color-text-secondary;
	animation: animate 5s 3 steps(30) alternate forwards -0.5s;
	overflow: hidden;

	@media (min-width: 992px) {
		white-space: nowrap;
		@keyframes animate {
				from {
					width: 0;
				}
				to {
					width: 500px;
				}}
	}
	@media (max-width: 991px) {
		@keyframes animate {
			from {
				height: 0;
			}
			to {
			height: 220px;
			}}
	}

	span {
		color: $color-primary;
		font-weight: bold;
	}

}
/* end of header section */

/* about me section */
.about {
	height: 100%;
	position: relative;
	background-color: $color-primary;
	color: $color-text-secondary;
	padding: 100px 0px 141px 0px;
	margin-bottom: auto;
	clip-path: polygon(0% 10%, 100% 10%, 100% 87%, 98% 87%, 0% 100%);
	@media (max-width: 991px) {
		// height: 10%;
		clip-path: polygon(0% 10%, 100% 10%, 100% 87%, 98% 87%, 0% 95%);
		}
		margin: 100px 0px 100px 0px;
	h2 {
		padding-top: 20px;
	}
}

.about-content {
	@media (min-width: 992px) {
		display: flex;
		max-width: 960px;
		margin: 65px auto 0px auto;
	}
}

.about-description {
  @media (min-width: 992px) {
    line-height: 28px;
    font-weight: 400;
    margin: 0px 70px 90px 70px;
  }
  @include lg {
//   @media (max-width: 991px) {
    margin: 40px 40px 40px 40px;
    text-align: center;
  }
  p {
    margin: 0px 0px 40px 0px;
  }
}

.about-img {
	box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 15px;
	display: block;

	@media (min-width: 992px) {
		width: 100%;
		height: 520px;
		max-width: 400px;
		object-fit: cover;
		margin: 0 auto;
	}

	@media (max-width: 991px) {
		width: 80%;
		height: auto;
		margin-left: auto;
		margin-right: auto;
	}
}

.button-secondary {
  @media (max-width: 991px) {
    display: inline-block;
    text-align: center;
  }
}

.about-quote {
	text-align: center;
	margin-top: 88px;
	@include lg {
	margin: 26px 0px 50px 0px;
}
}

blockquote {
	font-style: italic;
	font-weight: 400;
	line-height: 36px;
	font-size: 24px;
		@include lg {
			margin: 26px;
		}
}

cite {
  font-style: normal;
  line-height: 1.4;
  font-weight: 400;
}
/* end of about me section */

/* projects section  */
.projects-article {
  padding: 40px;
  text-align: justify;

  @media (min-width: 992px) {
    display: flex;
    max-width: 960px;
    margin: 0 auto;
  }

  div {
    padding-right: 40px;
  }

  .button {
    margin: 10px;
  }
}

.projects-img {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* end of projects section */

/* contact section */
.contact {
  background-color: $color-primary;
  color: $color-text-secondary;
  padding-top: 150px;
  clip-path: polygon(0% 25%, 100% 9%, 100% 100%, 0% 100%);
}

.contact-content {
  text-align: center;
  align-items: center;
  padding: 0px 100px 100px 100px;
}
/* end of contact section */

/* footer section */
.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    color: $color-text-secondary;
    margin: 39px 0px;

    @media (max-width: 767px) {
      text-align: center;
    }
  }
}

.social-item {
  display: inline-block; /* para conseguir dar medidas aos icones*/
  background-color: $color-secondary;
  border-radius: 50%;
  padding: 5px; /*senao fica muito pequeno em relacao ao circulo*/
  margin: 0px 10px 0px 10px;

  &:hover {
    background-color: $color-primary;
    border-color: $color-secondary;
  }
}

.github {
  background-image: url(../../assets/icons/icon-github.png);
}

.linkedin {
  background-image: url(../../assets/icons/icon-linkedin.png);
}

li {
  animation: float 8s ease-in-out infinite;

  &:first-child {
    animation-delay: 1s;
  }
  &:nth-child(2) {
    animation-delay: 2s;
  }

  @keyframes float {
    0% {
      transform: translateY(0); /*The starting point of the animation is 0.*/
    }
    50% {
      transform: translateY(
        -20px
      ); /*The middle point of the animation is -15xp. This will move the element up.*/
    }
    100% {
      transform: translateY(
        0
      ); /*The last point of the animation is going back to the starting state of 0.*/
    }
  }
}

.icons-wrapper {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: $color-secondary;
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
  }
}

.social-link {
  display: block;
  width: 35px;
  height: 35px;
  background-size: 35px;
  background-repeat: no-repeat;
}
